.hero-section {
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
    margin-top: 5rem;
    padding: 2rem;
    font-size: 40px;
}

.heading {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.sub-heading {
    margin-top: 1rem;
}
.sub-heading h1 {
    margin-top: 1rem;
    font-size: 30px;
}

.supporting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10rem;
    margin-left: 10rem;
}
.supporting p {
    font-size: 20px;
}