.confirm-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    margin-top: 5rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.confirm-email-container p {
    color: #333;
}