header {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    margin: 2rem;
}

.logo {
    margin-right: 2rem;
    font-size: 25px;
}

.nav {
    margin-left: 2rem;
}

.nav a {
    margin-right: 2rem;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.nav a:hover {
    color: #19747e;
}
.nav a:active,
.nav a:focus {
    outline: none;
}

.auth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5rem;
    color: #333;
}

.login-button {
    all: unset;
}

.login-button:hover {
    all: unset;
    color: #19747e;
    text-align: center;
    cursor: pointer;
}

.register-button {
    all: unset;
    height: 2rem;
    width: 5rem;
    margin-left: 1rem;
    border: 1px solid #354e56;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #2d545e;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.10);
}

.register-button:hover {
    background-color: #19747e;
}
.register-button:active {
    color: #12343b;
    background-color: #e2e2e2;
}

.profile-button {
    all: unset;
}

.profile-button:hover {
    all: unset;
    color: #19747e;
    text-align: center;
    cursor: pointer;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    margin-left: 1rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.logout-button img {
    width: 35px;
}

.logout-button:hover {
    background-color: #e2e2e2;
}