header {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    margin: 2rem;
}

.logo {
    margin-right: 2rem;
    font-size: 25px;
}

.nav {
    margin-left: 2rem;
}

.nav a {
    margin-right: 2rem;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.nav a:hover {
    color: #19747e;
}

.nav a:active,
.nav a:focus {
    outline: none;
}

.auth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30vw;
    border-radius: 5px;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.logout-button img {
    width: 35px;
}

.logout-button:hover {
    background-color: #e2e2e2;
}

/* .login-button {

} */
.register-button {
    margin-left: 1rem;
}