.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.share-modal {
    position: relative;
    top: -5rem;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    background: white;
}
.share-modal p {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 17px;
    color: #333;
}
.modal-actions {
    display: flex;
    justify-content: space-around;
}
.modal-actions button {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid #141414;
    background-color: #242424;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25);
}
.modal-actions button:hover {
    background-color: #2e2e2e;
}
.modal-actions button:active {
    color: #1f1f1f;
    background-color: #e2e2e2;
}
.share {
    color: #fff !important;
    border: 1px solid #12343b !important;
    background-color: #2d545e !important;
}
.share:hover {
    background-color: #19747e !important;
}
.share:active {
    color: #12343b !important;
    background-color: #e2e2e2 !important;
}
.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal-form input {
    height: 2.5rem;
    margin: 8px 0;
    padding: 12px 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #eee;
}
.modal-form input:-webkit-autofill {
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s; /* Trick to keep original styles */
}
.modal-form input:valid,
.modal-form input:focus {
    border: 1px solid;
    background-color: #fff !important;
}
.modal-field {
    position: relative;
}
.modal-field label {
    position: absolute;
    top: 50%;
    left: 0.9rem;
    opacity: 0.8;
    padding-right: 2px;
    padding-left: 2px;
    color: #333;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease;
}
.modal-field textarea + label {
    top: 45%;
}
.modal-field input:focus~label,
.modal-field input:valid~label {
    opacity: 1;
    top: 0.5rem;
    font-size: 11px;
    background: #fff;
}
.modal-notice-container {
    margin-bottom: 1rem;
}
.modal-notice {
    color: red;
    font-size: 15px !important;
}