/* Laptop screen */
/* @media screen and (max-width: 1750px) {
    
} */

/* Auth fail page */
.list-redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

/* Main list page */
.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 2rem;
    border-radius: 10px;
}
.manage-lists {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
    margin-top: 2rem;
    margin-right: 2.5rem;
}
.manage-lists button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    border: 1px solid #141414;
    border-radius: 8px;
    background-color: #242424;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.2);
}
.manage-lists button:hover {
    background-color: #292929;
}
.manage-lists button:active {
    color: white;
    background-color: #1f1f1f;
}
.manage-lists img {
    height: 25px;
    width: 25px;
}
.lists {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    margin-top: 2rem;
    border-top: 1px solid #c89666;
}
.list-fade {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}