footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    margin-bottom: 0.5rem;
}

.footer-logo {
    font-size: 15px;
}
.footer-copyright {
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-socials img {
    height: 25px;
    width: 25px;
    margin: 0;
}
