footer {
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    margin-bottom: 0.5rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-logo {
    font-size: 15px;
}
