/* main color palette */
/* --gunmetal: #12343b;
--charcoal: #354e56;
--dark-slate-gray: #2d545e;
--caribbean-current: #19747e;
--buff: #e1b382;
--lion: #c89666;
--platinum: #e2e2e2;
--white-smoke: #f6f5f7; */


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    margin: -20px 0 50px;
    background: #f6f5f7;
    font-family: 'Montserrat', Sans-Serif;
}

* {
    box-sizing: border-box;
}